.h1{
  text-align: center;
  text-transform: uppercase;
  margin-top: 1rem;

  h1{
    font-family: 'Comfortaa-Regular';
  }
}

.portfolio{
  display: flex;
  flex-wrap: wrap;

  .user_image{
    flex-basis: 15%;

    img{
      border-radius: 100px;
      box-shadow: 0 0 7px #666;
      width: 100%;
      border: 5px solid transparent;
      border-image-slice: 1;
    }
  }
  .userInformation{
    flex-basis: 65%;
    padding-left: 2rem;
    padding-right: 2rem;

    .item{
      .title{
        font-size: 21px;
        font-weight: 600;
        font-family: 'Comfortaa-Regular';
      }
      .description{
        font-size: 18px;
        padding-left: 1rem;
        line-height: 30px;
        font-family: 'Comfortaa-Regular';
      }
    }
  }
  .mobile{
    flex-basis: 15%;

    img{
      width: 100%;
    }

    .mobile__text{
      font-size: 13px;
      position: absolute;
      margin-top: 140px;
      padding-left: 10px;

      .meta__title{
        text-align: center;
        margin-top: 0.3rem;
        display: block;
      }
      .logo{
        width: 30px;
        margin: 0 auto;
        margin-top: 0.5rem;

        img{
          width: 100%;
        }
      }
    }
  }
}

.portfolioClients{
  margin-bottom: 2rem;

  h2{
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Comfortaa-Regular';
    text-align: center;
  }

  .items{
    column-count: 4;
    text-align: center;

    .item{
      background-color: #cccccc38;
      border: 1px solid #cccccc00;
      border-radius: 10px;
      margin: 0.5rem;

      &:first-child{
        margin: 0 0.5rem;
      }

      &:hover{
        border-radius: 5px;
        background: linear-gradient(90deg, #772088, #4854a2);
        border: 1px solid #ccc;
        transition: background 0.2s ease;

        a{
          color: #ffffff;
        }

        &:last-child{
          .subclients{
            display: block;
            position: absolute;
            background: linear-gradient(90deg, #4854a2, #772088);
            padding: 1em;
            margin-left: -50px;
            border-radius: 10px;
            margin-top: 20px;

            span{
              color: #ffffff;
              font-family: 'Comfortaa-Regular';
            }
          }
          &:after{
            content: '';
            position: absolute;
            margin-top: 55px;
            margin-left: 70px;
            border: 10px solid transparent;
            border-top: 17px solid #56469b;
          }
        }
      }

      a{
        font-family: 'gunnyrewritten';
        font-size: 35px;
        color: #5d3d97;
      }

      .subclients{
        display: none;
      }
    }
  }
}

.skelets{
  column-count: 4;

  .skelet{
    margin: 0.5rem;

    &:first-child{
      margin: 0 0.5rem;
    }
  }
}