//@value customBlue: #0c77f8;

.opacity{
  color: #d2d2d2;
  text-transform: lowercase;
  display: flex;
  opacity: 1;
  visibility: visible;
  height: 30px;
  align-items: center;

  .item{
    padding: 0rem 1rem;

    &:nth-child(1){
      padding: 0;
    }

    .title{
      font-weight: 500;
      color: #fff;
    }

    .value{
      font-style: italic;

      svg{
        width: 20px;
        fill: #b1b1b1;
      }
    }
  }

  select{
    background: no-repeat;
    outline: none;
    border: 0px solid;
    margin-right: 1rem;

    option{
      color: black;
    }
  }
}

.contentTriangle{
  width: 1140px;
  position: absolute;
  top: 25px;
  height: 15px;

  .triangle{
    border: 10px solid transparent;
    border-top: 15px solid #ffffff;
    display: block;
    width: 0;
    height: 0;
    margin: 0 auto;
  }
}