@font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
'Noto Color Emoji';

.container{
  width: 1140px;
  margin: 0 auto;
}

.background{background: linear-gradient(90deg,#4854a2,#772088);
  font-family: 'Segoe UI';
  padding: 0.5rem 0rem;
}

.closeTopHEaderBar{
  opacity: 0;
  visibility: hidden;
  transition: .55s opacity, .55s visibility;
}
