@font-face {
  font-family: 'gunnyrewritten';
  src: local('gunnyrewritten'), url(./fonts/gunnyrewritten.woff) format('woff');
}

@font-face {
  font-family: 'Comfortaa-Light';
  src: local('Comfortaa-Light'), url(./fonts/Comfortaa-Light.ttf) format('woff');
}

@font-face {
  font-family: 'Comfortaa-Regular';
  src: local('Comfortaa-Regular'), url(./fonts/Comfortaa-Regular.ttf) format('woff');
}

@font-face {
  font-family: 'Comfortaa-Bold';
  src: local('Comfortaa-Bold'), url(./fonts/Comfortaa-Bold.ttf) format('woff');
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.closeTopHEaderBar{
  opacity: 0 !important;
  visibility: hidden !important;
  height: 0 !important;
  transition: height 0.5s ease-in;
}
.openTopBarElement{
  opacity: 1;
  visibility: visible;
  height: 30px;
  transition: height 0.5s ease-in;
}

.openTopBar{
  display: none;
}

.closeTopBar{
  top: -8px !important;
  height: 0 !important;
}